---

import Layout from '@layouts/Layout.astro';
import Matchs from '@components/Matchs.astro';

const API_KEY = import.meta.env.API_KEY;
const GAME_NAME = 'Fran4all';
const TAG_LINE = 'LAS';

const user = await fetch(`https://americas.api.riotgames.com/riot/account/v1/accounts/by-riot-id/${GAME_NAME}/${TAG_LINE}?api_key=${API_KEY}`);
const dataUser = await user.json();

const PUUID = dataUser.puuid;
---

<Layout title="League Status">
	<main>
		<div class="bg-gray-200 min-w-screen min-h-screen p-4">
			<div class="p-4 rounded-lg w-full h-full bg-white shadow-xl flex flex-col justify-center items-center">
				<Matchs PUUID={PUUID}/>
			</div>
		</div>
	</main>
</Layout>