---
interface Props {
	win: boolean;
    champion: string;
    gameMode?: string;
    endOfGameResult: string;
    kills: number;
    deaths: number;
    assists: number;
}


function formatChampionName(name: string): string {
  const cleanedName = name.replace(/\s+/g, '').replace(/[^\w]/g, '').toLowerCase();
  switch (name) {
	case 'LeeSin':
		return 'LeeSin'
	case 'JarvanIV':
		return 'JarvanIV'
	case 'TwistedFate':
		return 'TwistedFate'
    case 'MissFortune':
        return 'MissFortune'
	default:
	return cleanedName.charAt(0).toUpperCase() + cleanedName.slice(1);
  }
}
---

<div class={`w-full rounded-xl my-2 ${Astro.props.win ? 'bg-lime-300' : 'bg-red-300'}`}>
    <div class="flex flex-row justify-between items-center py-2 px-4">
        <div class="flex flex-row items-center">
            <div class="rounded-full overflow-hidden">
                <img src={`https://ddragon.leagueoflegends.com/cdn/14.15.1/img/champion/${formatChampionName(Astro.props.champion)}.png`} class="min-w-10 w-10 h-10 scale-125" />
            </div>
            <p class="text-lg font-bold ml-2">{Astro.props.champion}</p>
            <b class="ms-2"> {Astro.props.kills + '/' + Astro.props.deaths + '/' + Astro.props.assists}</b>
        </div>
        <div class="flex flex-row items-center">
            <p class="text-md">{Astro.props.gameMode} <span class="text-lg font-bold">{Astro.props.win ? 'Victory' : 'Defeat'}</span></p>
        </div>
    </div>
</div>