---
interface Props {
	win: boolean;
    champion: string;
}


function formatChampionName(name: string): string {
  const cleanedName = name.replace(/\s+/g, '').replace(/[^\w]/g, '').toLowerCase();
  switch (name) {
	case 'LeeSin':
		return 'LeeSin'
	case 'JarvanIV':
		return 'JarvanIV'
	case 'TwistedFate':
		return 'TwistedFate'
	default:
	return cleanedName.charAt(0).toUpperCase() + cleanedName.slice(1);
  }
}
---

<div class={`w-full ${Astro.props.win ? 'bg-lime-500' : 'bg-red-500'}`}>
    <div class="flex flex-row justify-between items-center p-2">
        <div class="flex flex-row items-center">
            <img src={`https://ddragon.leagueoflegends.com/cdn/11.16.1/img/champion/${formatChampionName(Astro.props.champion)}.png`} class="w-10 h-10" />
            <p class="text-lg font-bold ml-2">{Astro.props.champion}</p>
        </div>
        <div class="flex flex-row items-center">
            <p class="text-lg font-bold">{Astro.props.win ? 'Victory' : 'Defeat'}</p>
        </div>
    </div>
</div>